// SCREEN SIZES
$screen-sm: 768px;

:root {
  --vclus-gray: #e5e7eb;
  --vclus-gray-light: #f8f8f8;
  --vclus-primary: rgb(42, 67, 101);
  --vclus-primary-hover: rgb(49, 83, 133);
  --vclus-primary-dark: #2952a4;
  --vclus-primary-light: rgba(0, 82, 204, 0.822);
  --vclus-primary-lighter: rgb(53, 113, 204);
}
